.navbar-brand{
  font-family: "Jockey One", sans-serif;
  font-weight: bold;
}
#testimonials {
  padding: 30px 0; /* Add padding top and bottom */
  overflow: hidden; /* Hide overflow content */
  max-height: 100%;
  height: 550px;
}
#testimonials-divider {
  height: 5px;
  background-color: white;
}
.heading-outline {
margin-top: -1%;
color: black;
text-shadow: 0px 0px 5.5px #474747;
text-align: center;
}
body {
  background-image: url("../img/Background.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Lato", sans-serif;
  background-color: #647e54;
  color: #fff;
}
.body-ratings {
  background-color: #fff;
  color: #000;
  padding: 50px 0;
}
.header-buttons a {
  margin-right: 10px;
  background-color: #777; /* Grey background color */
  color: #000000; /* White text color */
  border: 2px solid #00000027; /* Black border */
  border-radius: 10px; /* Rounded corners */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Box shadow */
}
.header-buttons a {
  margin-right: 10px;
  display: flex;
  align-items: center;
}

.navbar-collapsed{
  justify-content: left;
}
.header-buttons a i {
  margin-right: 5px; /* Adjust spacing between icon and text */
  font-size: 1.5rem; /* Adjust icon size as needed */
}
/* Navbar styles */
.navbar-custom {
  background-color: #ffffff; /* White background */
}
.navbar-custom .navbar-brand,
.navbar-custom .navbar-nav .nav-link {
  color: #000000; /* Black text */
}
.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-nav .nav-link:hover {
  color: darkgreen; /* Darker text on hover */
}
/* Header styles */
.header {
  background-image: url("../img/Background.png"); /* Replace with your actual image URL */
  background-size: 100% 100%; /* or use object-fit: contain; */
  background-position: center;
  height: 560px; /* Adjust height as needed */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 50px 0;
  object-fit: contain; /* Add this property */
}

.header-logo {
  margin-left: -5%;
  max-width: 400px;
  height: 350px; /* Adjust logo size */
  margin-bottom: 20px;
  transition: transform 0.5s ease, box-shadow 0.5s ease; /* Updated transition */
  transform: perspective(600px) rotateX(0deg) rotateY(0deg);
}

.header-logo:hover {
  transform: perspective(600px) rotateX(10deg) rotateY(10deg) scale(1.1);
}

.header-buttons {
  margin-top: 20px;
}
.header-buttons a {
  display: inline-flex;
  align-items: center;
  margin-right: 10px;
  background-color: #777;
  color: #ffffff;
  border: 2px solid #00000027;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  padding: 10px 20px;
  text-decoration: none;
}

.header-buttons a i {
  margin-right: 5px;
  font-size: 1.5rem;
}

.header-buttons a.btn {
  color: #fff;
  border-color: #0000003d;
  margin-bottom: 5%;
}
/* Testimonial card styles */
.testimonial-card {
  background-color: #a8df7c;
  border: 10px solid #4cc858;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  color: #333;
  margin: 15px auto;
  max-width: 450px;
  position: relative; /* Ensure z-index works correctly */
  margin-bottom: 5%;
}
.testimonial-card h5 {
  font-weight: bold;
}
.testimonial-card p {
  font-style: italic;
  text-align: left;
}
.testimonial-card .author {
  font-weight: bold;
  text-align: left;
}
.testimonial-card .author-title {
  font-size: 0.9rem;
  text-align: left;
  color: #555;
}
.testimonial-card .stars {
  font-size: 1.5rem; /* Adjust font size as needed */
  text-align: left;
  color: #FFD700;
  text-shadow: 0px 0px 2px #000000;
}
.read-more {
  color: #000;
  font-weight: bold;
  text-decoration: none;
  float: right; /* Align to the right */
  margin-top: 10px; /* Top margin for spacing */
  position: absolute;
  bottom: 20px; /* Adjust as needed */
  right: 20px; /* Adjust as needed */
  z-index: 1; /* Ensure it's above the testimonial card */
}
/* Footer styles */
footer {
  background-color: #8fe6eb;
  font-family: "Josefin Slab", serif;
  color: #716a6a; /* White text */
  text-align: center;
  padding: 10px 0; /* Adjusted padding */
  position: relative;
  bottom: 0;
  width: 100%;
}

footer p {
  font-size: 20px; /* Reduced font size */
  margin-bottom: 0; /* Remove default margin */
  font-weight: bold;
}

/* Custom CSS for responsive iframe */
@media (max-width: 430px) {
  #youtube-video .embed-responsive {
      position: relative;
      height: 0;
      overflow: hidden;
      max-width: 100%;
      padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
  }
  #youtube-video .embed-responsive iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
  }
  .header-logo {
      margin-left: -20%;
  }
}
@media (max-width: 830px) {
  #youtube-video .embed-responsive {
      position: relative;
      height: 0;
      overflow: hidden;
      max-width: 100%;
      padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
  }
  #youtube-video .embed-responsive iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
  }
  .header-logo {
      margin-left: -20%;
  }
  .navbar-brand{
    margin-left: -30%;
  }
}
.heading-outline1 {
  margin-top: -1%;
color: black;
text-shadow: 0px 0px 5.5px #474747;
text-align: center;
}
.carousel-control-prev img, .carousel-control-next img {
  width: 30px; /* adjust the width as needed */
  height: 40px; /* adjust the height as needed */
  background-color: transparent; /* green background color */
  padding: 5px; /* add some padding for better visibility */
}
.carousel-control-prev img:focus, .carousel-control-next img:focus {
  background-color: transparent;
}
.carousel-control-prev,
.carousel-control-next {
  top: 45%; /* Adjust top position as needed */
  width: 59%; /* Adjust width as needed */
  height: 1%;
}

.carousel-control-prev,
.carousel-control-next {
top: 45%; /* Adjust top position as needed */
width: 59%; /* Adjust width as needed */
height: 1%;
}
@media (max-width: 1272px) {
.carousel-control-prev,
.carousel-control-next {
top: 45%; /* Adjust top position as needed */
width: 0%; /* Adjust width as needed */
height: 1%;
}

#youtube-video .embed-responsive {
      position: relative;
      height: 0;
      overflow: hidden;
      max-width: 100%;
      padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
  }
  #youtube-video .embed-responsive iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
  }
}
@media (max-width: 390px) {
.carousel-control-prev,
.carousel-control-next {
top: 45%; /* Adjust top position as needed */
width: 20%; /* Adjust width as needed */
height: 1%;
}
}

@media (max-width: 414px) {
.carousel-control-prev,
.carousel-control-next {
top: 45%; /* Adjust top position as needed */
width: 0%; /* Adjust width as needed */
height: 1%;
}
}

@media (max-width: 830px) {
.carousel-control-prev,
.carousel-control-next {
top: 45%; /* Adjust top position as needed */
width: 0%; /* Adjust width as needed */
height: 1%;
}
}


@media (max-width: 768px) {
.testimonial-card {
font-size: 0.9rem; /* Adjust font size as needed */
}
.testimonial-card h5 {
font-size: 1.2rem; /* Adjust font size as needed */
}
.testimonial-card .author {
font-size: 0.8rem; /* Adjust font size as needed */
}
.testimonial-card .author-title {
font-size: 0.7rem; /* Adjust font size as needed */
}
.testimonial-card .stars {
font-size: 1.2rem; /* Adjust font size as needed */
}
.modal-body strong {
font-size: 0.8rem;
text-align: left;
color: #333;
font-weight: bold;
font-style: italic;
}
.modal-body p {
font-size: 0.8rem; /* adjust font size as needed */
text-align: left;
color: #333;
font-style: italic;
}
.modal-dialog {
max-width: 90%; /* adjust the width as needed */
margin: 20px auto; /* add some margin to center the modal */
}
.modal-content {
padding: 20px; /* adjust the padding as needed */
}
}


@media (max-width: 768px) {
.testimonial-card {
max-width: 300px; /* Adjust max-width as needed */
.modal-body strong {
font-size: 0.8rem;
text-align: left;
color: #333;
font-weight: bold;
font-style: italic;
}
.modal-body p {
font-size: 0.8rem; /* adjust font size as needed */
text-align: left;
color: #333;
font-style: italic;
}
}
.modal-body strong {
font-size: 0.8rem;
text-align: left;
color: #333;
font-weight: bold;
font-style: italic;
}
.modal-body p {
font-size: 0.8rem; /* adjust font size as needed */
text-align: left;
color: #333;
font-style: italic;
}
.modal-dialog {
max-width: 90%; /* adjust the width as needed */
margin: 20px auto; /* add some margin to center the modal */
}
.modal-content {
padding: 20px; /* adjust the padding as needed */
}
}

.modal-lg {
max-width: 800px; /* adjust max-width as needed */
}

.modal-body {
padding: 20px; /* adjust padding as needed */
font-size: 0.9rem; /* adjust font size as needed */
}
.modal-header{
border-bottom: none;
}
.modal-body p {
font-size: 17px; /* adjust font size as needed */
text-align: left;
color: #333;
font-style: italic;
}
.modal-body strong {
font-size: 17px;
text-align: left;
color: #333;
font-weight: bold;
font-style: italic;
}
.modal-backdrop {
display: none;
}

.modal-content {
background-color: #a8df7c;
border: 10px solid #4cc858;
border-radius: 10px;
}

@media (max-width: 768px) {
.modal-content {
max-width: 80%;
}
}

.modal-dialog-centered {
display: flex;
align-items: center;
justify-content: center;
}
.modal.show {
background-color: rgba(0, 0, 0, 0.5); /* black with 50% opacity */
}
.modal-backdrop {
background-color: rgba(0, 0, 0, 0.5); /* black with 50% opacity */
display: block;
}

.text-pjquiros {
  width: auto;
  padding: 20px;
  text-shadow: 0px 0px 5.5px #000000;
}

#about-body .container{
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

@media (max-width: 767px) {
  #about-body {
    flex-direction: column;
    align-items: center;
  }
  .image {
    width: 100%;
    margin-bottom: 20px;
  }
  .text {
    width: 100%;
    padding: 20px;
  }
}
@media (max-width: 767px) {
  .text {
    width: 100%;
    text-align: center;
    padding: 20px;
  }
}
@media (max-width: 767px) {
  .image {
    width: 100%;
    margin-bottom: 20px;
  }
  .text {
    width: 100%;
    text-align: center;
    padding: 20px;
  }
}

@media (max-width: 767px) {
  .image img {
    width: 50%;
    height: auto;
    margin: 0 auto;
    justify-items: center;
    display: inline-block;
    margin: 0 auto;
  }
  .image {
      text-align: center;
    }
}

@media (max-width: 767px) {
  .navbar-collapse {
    flex-direction: column;
  }
  .navbar-brand {
    margin: 0 auto;
  }
}

@media (max-width: 767px) {
  .author-image-container {
    flex-direction: column;
  }
  .author-image-container img {
    width: 100%;
    height: auto;
    margin: 0 auto;
  }
}

.navbar-custom {
  position: relative;
  z-index: 1; /* Add a higher z-index to ensure navbar is on top */
}

.author-image-container {
  position: relative;
  z-index: 0; /* Set a lower z-index to ensure image is behind navbar */
}
.author-image-container img{
  border: 10px solid #7dac67;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.993);
}

@media (max-width: 767px) {
  .author-image-container {
    text-align: center;
    margin-bottom: 20px; /* Add some space between the image and paragraph */
  }
  .author-image-container img {
    width: 80%; /* Increase the image width */
    height: auto;
    margin: 0 auto;
    border: 10px solid #7dac67;
  }
  .text-pjquiros {
    text-align: center;
  }
  #about-body .container {
    flex-direction: column; /* Change the flex direction to column */
  }
  .author-image-container {
    order: 1; /* Move the image above the paragraph */
  }
  .text-pjquiros {
    order: 2; /* Move the paragraph below the image */
  }
  .navbar-brand{
    margin-left: -0.2%;
  }
}